header {
    background-color:black;
    width:100%;
    height:60px;
}

header ul{
    margin-left:-40px;
}

header ul li{
    list-style:none;
    text-align: center;
    float:left;
    color:white;
    padding:0px 25px 0px 25px;
    line-height: 60px;
}

main{
    clear:both;
    width:100%;
}


left{float:left;
     width:70%;}
right{float:left;
      width:30%;
      margin-top:10px;}

left h2{
    border-left:5px black solid;
    border-bottom: 2px black solid;
    padding-left:8px;
}

form{
    background-color:#fbfbfb;
    border:3px solid #ebebeb;
    margin:20px 0px 20px 5px;
    padding-left:10px;
}

form .nyuuryoku{
    border-left:3px red solid;
    padding-left:5px;
    margin-left:5px;
}

form div{
    margin-bottom:15px;
}

.submit{
    border:1px solid lightgray;
    padding:4px;
    background-color:gray;
    color:white;
    border-radius:5px;
    border-bottom:solid 2px #222222;
    margin-bottom:10px;
}

h4{
    border-bottom:2px dotted lightgray;
    width:90%;
}



right h3{
    border-bottom:2px black dotted;
    margin-left:35px;
}

right ul{
    margin-bottom:30px;
    margin-top:-10px;
    margin-left:10px;
    list-style:none;
}

right ul li{
    padding-bottom:8px;
}

footer{
    clear:both;
    color:white;
    background-color:black;
    width:100%;
    height:60px;
    text-align: center;
    line-height:60px;
}





